# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Client Side Exclusions

# dependencies
/client-side/node_modules
/client-side/.pnp
/client-side/.pnp.js

# testing
/client-side/coverage

# production
/client-side/build

# misc
/client-side/.DS_Store
/client-side/.env.local
/client-side/.env.development.local
/client-side/.env.test.local
/client-side/.env.production.local

/client-side/npm-debug.log*
/client-side/yarn-debug.log*
/client-side/yarn-error.log*

# server-side exclusions
/server-side/node_modules
/server-side/.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
